@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>
    This is a simple User Management System built using ASP.NET MVC (C#), Entity Framework, and SQL Server. It supports user registration, login, secure access to a dashboard with user listing, search, edit, and delete functionalities — all wrapped in a responsive Bootstrap UI.
</p> 